# Ignore environment files
.env
.env.local
.env.development
.env.production
*.env
# Ignore Firebase service account credentials
src/config/firebaseServiceAccount.json
node_modules/
src/config/firebase.js
src/models/Brannch.js
src/models/Venndor.js
